In [1]:
import numpy as np
import pandas as pd

In [2]:
cd ../ml-100k/

G:\Recommendation-System\ml-100k

In [3]:
mkdir DATA

In [4]:
names = ['user_id','age','gender','occupation','zipcode']
userDf = pd.read_csv('u.user',sep='|',names=names, index_col=0) 
userDf = userDf.loc[:, 'age':'occupation']

In [5]:
userDf = pd.get_dummies(userDf)
userDf.head()

,age,gender_F,gender_M,occupation_administrator,occupation_artist,occupation_doctor,occupation_educator,occupation_engineer,occupation_entertainment,occupation_executive,...,occupation_marketing,occupation_none,occupation_other,occupation_programmer,occupation_retired,occupation_salesman,occupation_scientist,occupation_student,occupation_technician,occupation_writer
user_id,,,,,,,,,,,,,,,,,,,,,
1,24,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,53,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,23,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,24,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5,33,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [6]:
userDf.to_csv("DATA/userFeature.csv")

In [7]:
genreNames = pd.read_csv('u.genre',sep='|', index_col=0, names=["name","index"]).index.tolist()

In [8]:
itemFeatureDf = pd.read_csv('u.item',sep='\|\|?', index_col=0, names=["itemId","itemName","Date","URL"]+genreNames)

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [9]:
itemFeatureDf[itemFeatureDf.isnull().any(axis=1)]

,itemName,Date,URL,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
itemId,,,,,,,,,,,,,,,,,,,,,
267,unknown,NaN,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
1358,The Deadly Cure (1996),16-Sep-1996,NaN,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
1359,Boys in Venice (1996),24-Sep-1996,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0

In [10]:
itemFeatureDf = itemFeatureDf.drop(267)
itemFeatureDf.isnull().any()

itemName       False
Date           False
URL             True
unknown        False
Action         False
Adventure      False
Animation      False
Children's     False
Comedy         False
Crime          False
Documentary    False
Drama          False
Fantasy        False
Film-Noir      False
Horror         False
Musical        False
Mystery        False
Romance        False
Sci-Fi         False
Thriller       False
War            False
Western        False
dtype: bool

In [11]:
itemFeatureDf.to_csv("DATA/itemFeature.csv")

In [12]:
itemFeatureDf.loc[:,["itemName"]].to_csv("DATA/inventory.csv")

In [13]:
names = ['user_id','item_id','rating','timestamp']
dataDf = pd.read_csv('u.data',sep='\t',names=names)

In [14]:
dataDf = dataDf.drop('timestamp',1)

In [15]:
# remove test users from training users
userTrainIndex = userDf.sample(frac = 0.90).index
dataDf_train = dataDf[dataDf.user_id.isin(userTrainIndex.tolist())]

In [16]:
print (dataDf.shape)
print (dataDf_train.shape)

(100000, 3)
(91135, 3)

In [17]:
dataDf_test = dataDf.drop(dataDf_train.index)

In [18]:
print (dataDf_test.shape)

(8865, 3)

In [19]:
dataDf_train.to_csv('DATA/ratings_train.csv')
dataDf_test.to_csv('DATA/ratings_test.csv')
dataDf.to_csv('DATA/ratings.csv')

In [20]:
dataDf_train.head()

   user_id  item_id  rating
1      186      302       3
2       22      377       1
3      244       51       2
4      166      346       1
5      298      474       4